// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Paramètres par défaut pour le pipeline
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
params {
    fastp_q = 20
    fastp_u = 20
    min_contig_length = 500
    pilon_nb_iter = 3
    spades_mode = 'default'      // default | careful | meta
    sample_csv = './'
    
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Configuration des processus
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
process {
    // Si un process échoue, tout le workflow s’arrête
    errorStrategy = 'terminate'

    // Nombre de threads par processus
    cpus = 4

    // RAM par processus
    memory = '4 GB'

    // Durée maximale pour le process (optionnel)
    time = '2h'
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Configuration de l’executor
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
executor {
    name = 'local'
    // Nextflow peut lancer plusieurs jobs en parallèle
    queueSize = 8
}

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Dossier de travail
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
workDir = './work'

// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// Configuration de l’affichage
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
ansiLog = false